- var quotes = data.quotes.join(',')
html(lang='en')
    head
        style.
            i {font-family:'Apple Color Emoji'; font-style:normal;}
        meta(charset='utf-8')
    body(style="margin:0;padding:0;") 
        .coverimage(style="text-align:center; height:335px; width:620px; font-family:'Open Sans'; background: transparent url('http://graph.facebook.com/"+id+"/picture?type=large')  no-repeat center center;      -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; display: table;")
            .text(style="color:#FFF; -webkit-font-smoothing: antialiased;font-size:20px; -webkit-border-radius:4px; padding:5px;   max-width:80%; display: inline-block; display: table-cell; vertical-align: middle;  background-color:rgba(0, 0, 0, 0.5); ")
                h1 #{first_name} 
                #q
                script.
                    var quotes = "#{quotes}".split(',');
                    function shuffle(array) { var currentIndex = array.length, temporaryValue, randomIndex; while (0 !== currentIndex) { randomIndex = Math.floor(Math.random() * currentIndex); currentIndex -= 1; temporaryValue = array[currentIndex]; array[currentIndex] = array[randomIndex]; array[randomIndex] = temporaryValue; } return array; }
                    var items = !{JSON.stringify(quotes)};
                    var res = shuffle(quotes);
                    document.getElementById("q").innerHTML = res.slice(0,5).map(function(val,index){return('<i>❤️</i> '+val.replace(',','')+'<br>')})
                    //document.getElementById("q").innerHTML = res.slice(0,5).join('<br>')
