html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf8')
        style(type='text/css'). 
            body {
            margin: 0px;
            text-shadow: 1px 1px 25px rgba(141, 150, 150, 1);
            text-align:center;
            font-size:30px;
            }
            .letter {
            font-family: 'Lato Bold';
            color: #FFF;
            font-size: 55px;
            margin-top: 20px;
            text-transform: uppercase;
            font-weight: 700;
            height: 20px;
            font-style: bold; 
            text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
            }
            #result {
            font-size: 25px;
            font-style: bold;
            margin-top:40px;
            text-shadow: none;
            font-family: 'Lato Light';
            color: #FFF;
            padding:5px;
            }
            #result div {
            font-family: 'Mona Regular';  
            font-size:150%;
            }
    body(style="background-color:#"+color)
        div(style="text-align:center; height:315px; width:620px; font-family:'Lato';background-size: cover; display: table;")
            .letter
                | #{first_name}
            #result !{quote.info}