<div class="entry-content" itemprop="articleBody mainContentOfPage">

    <h2><span class="header-number">1</span>Общи условия</h2>

    <p>Прочетете внимателно и изцяло настоящите условия за ползване на Уебсайта, преди да го използвате по какъвто и да
        е начин.</p>
    <p>С всяко Ваше действие, съставляващо пряко или косвено използване съдържанието на настоящия Уебсайт, Вие
        потвърждавате волята си за приемане и обвързване с клаузите на настоящото споразумение и изложените в него
        условия. </p>
    <p>В случай, че не сте съгласни с изложените тук условия или не желаете да се обвързвате с тях, не използвайте този
        Уебсайт.</p>
    <p>“Drkehayov.com” е със собственик д-р Денислав Кехайов с УИН 1700005417.</p>
    <h2><span class="header-number">2</span>Информация в уебсайта и отказ от отговорност</h2>
    <p>Информацията в уебсайта има единствено и само информативен характер.</p>
    <p>В случай на възникнал здравословен проблем, съмнение за здравословен проблем или нужда от лечение, задължително
        се консултирайте с квалифицирано за терапията на проблема медицинско лице. </p>
    <p>Информацията в сайта не замества консултацията, диагностиката и лечението от квалифицирано медицинско лице. </p>
    <p>Информацията в сайта не е предназначена като специфична инструкция за индивидуални лица и не следва да се тълкува
        като такава.</p>
    <p>В никакъв случай не приемайте дадената Ви чрез уебсайта информация като абсолютно достоверна и правилна, дори и
        същата да се окаже такава.</p>
    <p>Информацията в уебсайта не препоръчва прилагането на самолечение на здравни проблеми.</p>
    <p>Собственикът на уебсайта не носи отговорност за възникнали риск, физически и морални вреди в следствие на
        посещението на уебсайта и информацията, публикувана в него.</p>
    <p>Собственикът на уебсайта не дава гаранция за точността, надеждността, пълнотата или полезността на предоставената
        в сайта информация. </p>
    <p>Собственикът на уебсайта не осигурява незабавно подновяване на информацията, съдържаща се в него, в случай, че
        същата е неактуална с оглед съвременното ниво на развитие на науката.</p>
    <h2><span class="header-number">3</span>Авторски права</h2>
    <p>Изложеният материал в уебсайта не може да бъде копиран, възпроизвеждан, разпространяван или обработван под
        каквато и да е форма, без предварителното разрешение на собственика му. </p>
    <h2><span class="header-number">4</span>Защита на личните данни</h2>
    <p>При използването на уебсайта се събира информация за всеки посетител чрез програмен продукт Google Analytics.</p>
    <p>Информацията се събира със следните цели:</p>
    <ol>
        <li>За развитие и подобряване на услугите в Сайта;</li>
        <li>За измерване на посещаемостта и ползваемостта на Сайта;</li>
    </ol>
    <p>Събират се обобщени данни за пол, възрастова група, държава, град, език, устройство за достъп, браузър, интереси.
    </p>
    <p>Обобщените данни не могат да се ползват за идентификация на посетителя.</p>
    <p>Данните за индивидуалните посетители са анонимизирани, за да не могат да се ползват за идентификацията им. IP
        адреси не се съхраняват.</p>
    <p>Данните за индивидуалните посетители се съхраняват 14 месеца, след което се трият.</p>
    <p>Данните няма да бъдат предоставяни под никаква форма на трети лица или използвани за цели, различни от
        гореописаните.</p>
    <h2><span class="header-number">5</span>Бисквитки</h2>
    <p>Бисквитите са информация, съхранена във Вашия браузър. Те се използват за съхранение на настройки и
        идентификатори, необходими за някои от предоставяните в Сайта услуги.</p>
    <p>За функционирането на този сайт е необходимо използването на бисквитки.</p>
    <p>Уебсайтът използва бисквитки със следните цели:</p>
    <ol>
        <li>За развитие и подобряване на услугите в Сайта;</li>
        <li>За измерване на посещаемостта и ползваемостта на Сайта;</li>
    </ol>
    <p>С използването на сайта в каквато и да е форма, Вие се съгласявате с употребата на бисквитки от него.</p>



</div><!-- entry-footer-wrapper-->

</div>