//@import '../../../../node_modules/antd/dist/antd.less';

//colors
.ant-tabs-bar {
    border:none;
    margin-bottom:2px;
    padding:0px;
}

            @black: #fff;
            @white: #fff;
@excent: #77d19e;
@bg: #262a31;
@background-color-light: @excent;
@milk: #95a5a6;
//
@body-background : @bg;
@layout-body-background : @bg;
@layout-header-background : @bg;
@layout-footer-background : @layout-body-background;
@layout-header-height : 64px;
@layout-header-padding : 0 50px;
@layout-footer-padding : 24px 50px;
@layout-sider-background : @layout-header-background;
@layout-trigger-height : 48px;
@layout-trigger-background : #002140;
@layout-trigger-color : #fff;
@layout-zero-trigger-width : 36px;
@layout-zero-trigger-height : 42px;

//

@primary-color: @milk; // primary color for all components
@link-color: @primary-color; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #86070e; // error state color
@font-size-base: 17px; // major text font size
@heading-color: @milk; // heading text color
@text-color: @milk; // major text color
@text-color-secondary :@milk; // secondary text color
@disabled-color : rgba(0, 0, 0, .25); // disable state color
@border-radius-base: 6px; // major border radius
@border-color-base: #262a31;
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);
//

@item-active-bg: @milk;
@item-hover-bg: @milk;

@component-background: @bg;
@item-hover-bg: #5f5c5f;
@text-color: @primary-color;
@border-radius-base: 5px;
@font-size-base: 16px;

@input-height-base: 52px;
@input-color: @text-color;
@input-border-color: @excent;




 
//
