- var itemsz = ['B1iu8ZLzg','S1dqUbIGg','SyenLbUMl'];
- var itemx = itemsz[Math.floor(2 + 0)];
- var d = new Date();
- d.setMonth(d.getMonth() + 6);
doctype 
html(lang='en')
    head
        meta(charset='utf-8')
        style.
            body {
            background-color:#FFF;
            }
            @font-face {
            font-family: "OpenSans";
            src: url("//s3-eu-west-1.amazonaws.com/arpecop.com/cdn/OpenSans-Light.woff") format('woff');
            }
            @font-face {
            font-family: "big";
            src: url("//s3-eu-west-1.amazonaws.com/arpecop.com/cdn/OpenSans-Bold.woff") format('woff');
            }
    body(style="margin:0;padding:0;") 
        .coverimage(style="height:315px; width:600px; font-family:'OpenSans'; background: transparent url('//s3-eu-west-1.amazonaws.com/imgserve.izteglisi.com/fb/"+itemx+".png')  no-repeat;")
            img(src=locals.ximg  alt="alt"  style="position:fixed;width:50px; height:50px; top:8px;left:9px;")
            div(style="color:#365899;font-family:'big'; margin-left:70px; font-size:12px; padding-top:5px;")  #{locals.namex} 
            div(style="color:#9d9d9d;font-family:'big'; margin-top:135px; font-size:10px;width:100%; -webkit-transform: rotate(2deg); text-align:center;  ")  #{d.toString().split(' ')[1]}   , #{d.toString().split(' ')[3]} 