doctype  
html(lang='en')
    head
        style.
            @font-face {
            font-family: "Open Sans";
            src: url("//s3-eu-west-1.amazonaws.com/arpecop.com/cdn/OpenSans-Bold.woff") format('woff');
            }
        meta(charset='utf-8')
    body(style="margin:0;padding:0;") 
        .coverimage(style="text-align:center; height:335px; width:620px; font-family:'Open Sans'; background: transparent url('//s3-eu-west-1.amazonaws.com/imgserve.izteglisi.com/fb/SyGA_uf1l.png')  no-repeat center center;      -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; display: table; font-weight:700;")
            .text(style="color:#FFF; -webkit-font-smoothing: antialiased; -webkit-border-radius:4px; padding:5px;   max-width:80%; display: inline-block;   background: url(//s3-eu-west-1.amazonaws.com/imgserve.izteglisi.com/fb/HkSMkcXyg.png); display: table-cell; vertical-align: middle;")
                img(src=picture.data.url, alt="alt" height="100" style="border-radius: 50px;margin:4px;")  
                img(src=win.picture.data.url, alt="alt" height="100" style="border-radius: 50px;margin:4px;")
                div(style="font-weight:700;font-size:20px;") #{first_name} & #{win.first_name}
                #q0 
                #q1  
                #q2  
                #q3  
                script.
                    var items = !{JSON.stringify(quotes)};
                    items.forEach(function(word,i) {
                        document.getElementById("q"+i).innerHTML = word.replace('XX',Math.floor((Math.random() * 100) + 1))
                    })
